@keyframes slide-left {
    0% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}

.item {
    position: relative;
    display: flex;
    color: white;
    -webkit-text-stroke: 0.0625rem Black;
    font-size: 1.5rem;
    border-bottom: none;
    cursor: pointer;
    user-select: none;
    border-image: url("../../../assets/images/shop/item.png") 20 25 30 20 fill;
    border-image-width: 1rem;
    height: 6rem;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: -0.8rem;
    animation: 1s slide-left;
    transition: filter 0.5s, transform 0.1s;

    &:hover {
        transform: scale(0.97);
    }

    &:active {
        transform: scale(0.95);
    }

    &.hidden {
        filter: brightness(0.75);
    }

    & > div {
        display: flex;
        margin-top: 1rem;
        margin-left: 1.2rem;

        & .thumbnail {
            height: 3.5rem;
            aspect-ratio: 1/1;
            margin-right: 0.5rem;
        }
    }

    & > .purchased {
        margin-left: auto;
        font-size: 2.5rem;
        margin-right: 2rem;
    }
}
