.button {
    all: unset;
    display: flex;
    cursor: pointer;
    user-select: none;
    border-image: url("@/assets/images/shop/item.png") 24 28 28 24 fill;
    border-image-width: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    transition:
        transform 0.1s,
        filter 0.5s;

    &:hover {
        transform: scale(0.97);
    }

    &:active {
        transform: scale(0.95);
    }

    &:disabled {
        filter: brightness(0.75);
    }

    & > .content {
        margin: 0.5rem 1.2rem 1.2rem 0.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    & h1,
    & h2,
    & h3 {
        color: white;
        -webkit-text-stroke: 0.0625rem black;
        font-weight: 400;
    }
}
