.divider {
    background-size: contain;

    &.vertical {
        width: 1rem;
        background-image: url("@/assets/images/border-vertical.png");
    }

    &.horizontal {
        height: 1rem;
        background-image: url("@/assets/images/border-horizontal.png");
    }
}
