.container {
    position: relative;
    z-index: 1;
}

.upgrades {
    position: absolute;
    width: 100%;
    min-height: 7.5rem;
    box-sizing: border-box;
    background-image: url("@/assets/images/shop/upgrades/upgrades-bg.png");
    background-size: 28rem;
    border-image: url("@/assets/images/shop/upgrades/upgrades-frame.png") 30 24
        stretch;
    border-image-width: 0.8rem;
    padding: 0.7rem;

    & > .items {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: max-content;
        min-height: 5rem;
        max-height: 15rem;
        height: 5rem;
        overflow: hidden scroll;
        padding: 0.5rem;
        transition: 0.5s;

        &.expandable:hover {
            height: 15rem;
        }
    }
}
