.container {
    background-color: #fff4;
}

.upgrades {
    position: relative;
    background-image: url("@/assets/images/shop/upgrades/upgrades-bg.png");
    background-size: 28rem;
    border-image: url("@/assets/images/shop/upgrades/upgrades-frame.png") 30 24
        stretch;
    border-image-width: 0.8rem;
    padding: 0.7rem;

    & > .items {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: max-content;
        min-height: 5rem;
        max-height: 20rem;
        height: 5rem;
        overflow: hidden scroll;
        padding: 0.5rem;

        &.expandable:hover {
            height: fit-content;
        }
    }
}
