.container {
    background-color: #fff6;
    overflow-y: auto;
}

.border {
    background-image: url('../../assets/images/border-horizontal.png');
    height: 1rem;
    background-size: contain;
}