.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

header {
    position: absolute;
    top: 0;
    margin-top: 2rem;
    width: 100%;
    text-align: center;
    background-color: #fff4;
    font-size: 2rem;
}

button {
    width: 20rem;
    background-image: url("../../assets/images/fuyo-coin.png");
    background-color: unset;
    border-style: unset;
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 1/1;
    transition: 0.1s;
}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

button:active {
    transform: scale(1);
}
