.news {
    background-image: url("@/assets/images/shop/upgrades/upgrades-bg.png");
    background-size: 28rem;

    & > .reel {
        padding-top: 0.25rem;
        padding-bottom: 0.5rem;
        transition: 0.5s;

        &.preEnter,
        &.exiting {
            opacity: 0;
        }

        & .quote {
            margin-right: 1rem;
            margin-bottom: 0.5rem;
        }

        & .quote,
        & .author {
            -webkit-text-stroke: 1px black;
            font-size: 1.5rem;
            color: white;
            height: 2rem;
            display: flex;
            align-items: center;
        }

        & > .row {
            display: flex;
            justify-content: space-between;
            margin: 0 0.5rem;
        }
    }
}
