.news {
    background-image: url("@/assets/images/shop/upgrades/upgrades-bg.png");
    background-size: 28rem;
    padding: 0rem 0.5rem 0.5rem 0.5rem;

    & > .reel {
        & .marquee {
            margin: 0 -0.5rem;
            padding: 0 0.5rem;
        }

        & .quote {
            margin-right: 1rem;
            margin-bottom: 0.5rem;
        }

        & .quote,
        & .author {
            -webkit-text-stroke: 1.2px black;
            font-size: 1.5rem;
            color: white;
            height: 2rem;
            display: flex;
            align-items: center;
            transition: 0.5s;

            &.preEnter,
            &.exiting {
                opacity: 0;
            }
        }

        & > .row {
            display: flex;
            justify-content: space-between;
        }
    }
}

@-moz-document url-prefix() {
    .news > .reel {
        & .quote,
        & .author {
            -webkit-text-stroke: 1.01px black;
        }
    }
}
