.container {
    height: 100vh;
    display: flex;
    background-image: url("./assets/images/bg2.png");
    background-size: cover;
}

.container > * {
    overflow-y: auto;
    flex: 1;
}

.container .middle {
    flex: 2;
}

.container .right {
    display: flex;
    flex-direction: column;
}

.container .right > * {
    flex: 1;
}
