.container {
    height: 100vh;
    display: flex;
    background-image: url("./assets/images/bg2.png");
    background-size: cover;
}

.container > .left {
    flex: 1;
}

.container > * {
    overflow-y: auto;
    width: 25rem;
}

.container > .middle {
    flex: 1.75;
}

.container > .right {
    display: flex;
    flex-direction: column;
}

.container > .right > * {
    overflow: auto;
}

.container > .right > * {
    flex: 1;
}
