@font-face {
    font-family: "Subscribe";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../src/assets/fonts/subscribe.woff2");
}

body {
    /* Foreground, Background */
    scrollbar-color: #987a50 #6a5539;
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: #6a5539;
}

::-webkit-scrollbar-thumb {
    background: #987a50;
}

body,
h1,
h2,
h3 {
    font-family: "Subscribe", sans-serif;
    margin: 0;
    overflow: hidden;
}

h1,
h2,
h3 {
    color: #0c996f;
    -webkit-text-stroke: 0.16px white;
    text-shadow: 0px 1px 1px #a6a6a6;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

@-moz-document url-prefix() {
    h1,
    h2,
    h3 {
        -webkit-text-stroke: 1.4px white;
    }
}
